@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari, and Edge */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* Smooth scrolling for touch devices */
.hide-scrollbar {
  -webkit-overflow-scrolling: touch;
}
